[project]
	description = OpenStreetMap Truck QA Map *** Find missing maxheight information underneath overpasses + tunnels. Check existing tagging for trucks. Online at:
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mmd (mmd-osm)
[access "refs/for/refs/*"]
	read = group user/mmd (mmd-osm)
	push = group user/mmd (mmd-osm)
	label-Code-Review = -2..+2 group user/mmd (mmd-osm)
	label-Verified = -1..+1 group user/mmd (mmd-osm)
	rebase = group user/mmd (mmd-osm)
	removeReviewer = group user/mmd (mmd-osm)
	submit = group user/mmd (mmd-osm)
[access "refs/heads/*"]
	read = group user/mmd (mmd-osm)
	create = group user/mmd (mmd-osm)
	push = +force group user/mmd (mmd-osm)
	pushMerge = group user/mmd (mmd-osm)
[access "refs/tags/*"]
	push = +force group user/mmd (mmd-osm)
	pushTag = group user/mmd (mmd-osm)
	pushSignedTag = group user/mmd (mmd-osm)
